<div class="conteudo">
    <p class="font-serif text-2xl subpixel-antialiased font-normal text-center">Saiba mais sobre nós, conheça nossos serviços.</p>
    <div class="wrap">
        <div class="box">
            <div class="box-top">
            <img class="box-image" src="../../assets/unhas.jpg">
            <div class="title-flex">
                <h3 class="box-title">Unhas</h3>
                <p class="user-follow-info">+10 Profissionais</p>
            </div>
            <p class="description">Transforme suas unhas em obras de arte! Experimente nosso serviço de manicure e pedicure, com produtos de alta qualidade e designs exclusivos. Agende agora e sinta-se renovada!</p>
            </div>
            <a routerLink="/cadastro" ariaCurrentWhenActive="page" class="button">Veja agora</a>
        </div>
        <div class="box">
            <div class="box-top">
            <img class="box-image" src="../../assets/cabelo.jpg">
            <div class="title-flex">
                <h3 class="box-title">Cabelo</h3>
                <p class="user-follow-info">+10 Profissionais</p>
            </div>
            <p class="description">Renove seu visual com nossos serviços de cabeleireiro! Cortes, colorações e tratamentos exclusivos para um cabelo deslumbrante. Agende hoje e descubra a beleza dos seus fios!</p>
            </div>
            <a routerLink="/cadastro" ariaCurrentWhenActive="page" class="button">Veja agora</a>
        </div>
        <div class="box">
            <div class="box-top">
            <img class="box-image" src="../../assets/depilacao.jpg">
            <div class="title-flex">
                <h3 class="box-title">Depilação</h3>
                <p class="user-follow-info">+10 Profissionais</p>
            </div>
            <p class="description">Desfrute de uma pele lisa e macia com nossos serviços de depilação. Técnicas suaves e eficazes para seu conforto. Agende agora e sinta-se confiante!</p>
            </div>
            <a routerLink="/cadastro" ariaCurrentWhenActive="page" class="button">Veja agora</a>
        </div>
        <div class="box">
            <div class="box-top">
            <img class="box-image" src="../../assets/sobrancelha.jpg">
            <div class="title-flex">
                <h3 class="box-title">Sobrancelha</h3>
                <p class="user-follow-info">+10 Profissionais</p>
            </div>
            <p class="description">Realce seu olhar com nossas técnicas de design de sobrancelhas! Formas perfeitas e personalizadas para você. Agende já e transforme sua expressão!</p>
            </div>
            <a routerLink="/cadastro" ariaCurrentWhenActive="page" class="button">Veja agora</a>
        </div>
        </div>
</div>