<app-toolbar-tela-inicial></app-toolbar-tela-inicial>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs uppercase bg-zinc-100 text-gray-800">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nome do Profissional
                </th>
                <th scope="col" class="px-6 py-3">
                    Especialidade
                </th>
                <th scope="col" class="px-6 py-3">
                    Disponibilidade
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            @for(profissional of profissionais; track profissional.id) {
                <tr class="bg-white border-b bg-neutral-400 border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{profissional.nome}}
                    </th>
                    <td class="px-6 py-4 text-gray-900">
                        {{profissional.especialidade}}
                    </td>
                    <td class="px-6 py-4 text-gray-900">
                        Disponível
                    </td>
                    <td class="px-6 py-4">
                        <a ariaCurrentWhenActive="page" class="button">Agende com {{profissional.nome}}</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>