<div class="card">
	<img decoding="async" src="../../assets/unhas.jpg" alt="Imagem de exemplo">
	<h2>Unhas</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquid delectus asperiores ipsa veritatis accusamus similique deleniti officiis assumenda magnam nostrum eius sed cum sint neque autem, eaque sapiente accusantium?</p>
</div>
<div class="card">
	<img decoding="async" src="../../assets/unhas.jpg" alt="Imagem de exemplo">
	<h2>Unhas</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquid delectus asperiores ipsa veritatis accusamus similique deleniti officiis assumenda magnam nostrum eius sed cum sint neque autem, eaque sapiente accusantium?</p>
</div>
<div class="card">
	<img decoding="async" src="../../assets/unhas.jpg" alt="Imagem de exemplo">
	<h2>Unhas</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquid delectus asperiores ipsa veritatis accusamus similique deleniti officiis assumenda magnam nostrum eius sed cum sint neque autem, eaque sapiente accusantium?</p>
</div>
<div class="card">
	<img decoding="async" src="../../assets/unhas.jpg" alt="Imagem de exemplo">
	<h2>Unhas</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquid delectus asperiores ipsa veritatis accusamus similique deleniti officiis assumenda magnam nostrum eius sed cum sint neque autem, eaque sapiente accusantium?</p>
</div>